/*.extension-container {
    width: 100%;
    height: 100%;
}*/

.simple-btn {
    border: none;
    padding: 10px 12px;
    margin: 1px;
    color: #666;
    background-color: #ddd;
}

.simple-btn:hover {
    background-color: #666;
    color: #ddd;
}

.bar-chart{
    background-color: #ddd;
}

/*.bar-chart .bar {
  fill: steelblue;
}*/

.bar-chart .bar:hover {
  /*fill: brown;*/
  cursor: pointer;
}

.bar-chart .axis--x path {
  display: none;
}

.bar-chart .upperLabel {
    fill: #333;
}
.bar-chart .upperLabel:hover {
    cursor: pointer;
}

.bar-chart .innerLabel {
    fill: orange;    
}

.footer{
    clear: both;
}

.to-right {
    float: right;
}